/*Google Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*General styles for body and html*/
body, html{
    font-family: 'VT323', monospace, sans-serif;
    font-size: 19px;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    height: 100%;
    letter-spacing: 1px;
}

/*Styles for h1*/
h1 {
    color: green;
    
}

/*Styles for h2*/
h2 {
    color: green;
}

/*Styles for spans*/
span {
    font-weight: bold;
    border: 1px solid green;
    padding: 5px;
    margin: 5px;
    color: green;
}

/*Pseudo-class for spans*/
span:hover {
    background-color: green;
    color: white;
}


/*Styles for the level and tries screen*/
.mdisplay {
    text-align: center;
    padding: 10px;
    margin: 10px;
    

    
    
}

/*General styles for buttons*/
.button {
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/*Styles for each button*/
#b1 {
    background-color: rgba(255, 0, 0, 0.3);
}

#b2 {
    background-color: rgba(229, 255, 0, 0.3);
}

#b3 {
    background-color: rgba(0, 255, 34, 0.3);
}

#b4 {
    background-color: rgba(0, 89, 255, 0.3);
}

/*Div for h1*/
#h1Div {
    flex-basis: 35%;
}

/*Paragraph to contain the last level reached*/
#record {
    color: green;
    display: none;
    font-size: 25px;
}

/*Paragraph to explain the tutorial with javaScript*/
#h2p {
    color: green;
    font-size: 25px;
}

/*Styles for the div of the game screen*/
#screen {
    background-color: black;
    padding: 0 10px;
    height: 45%;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/*Styles for the div containing the buttons, tries and level*/
#main {
    background-color: grey;
    width: 100%;
    height: 55%;
    box-sizing: border-box;
    padding: 0;
   

}

/*Styles for the div containing the div of the tries and the level*/
#info {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

/*Styles for the div of tries*/
#tries {
    background-color: darkgrey;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    
    
}

/*Styles Styles for i elements*/
#tries i {
    color: rgb(201, 13, 13);
    font-size: 16px;
}

/*Styles for the div of level*/
#level {
    background-color: black;
}

/*Styles for the level div paragraph*/
#level P {
    color: red;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/*Styles for the span of the level div*/
#levelNumber {
    color: red;
    font-size: 20px;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: normal;
}

/*Styles for the div containing the buttons*/
#buttons {
    border: 1px solid black;
    background-color: darkgrey;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 70%;
    width: auto;
}

/*Styles for tablets*/
@media screen and (min-width: 768px) {

    body {
        font-size: 23px;
    }
    
    .button {
        height: 70px;
        width: 70px;
    }
    
    #buttons {
        flex-direction: row;
        height: 60%;
    }

    #level P {
        color: red;
        font-size: x-large;
    }

    #levelNumber {
        font-size: x-large;
    }

    #tries i {
        font-size: 25px;
    }

    
}

/*Styles for larger screens*/
@media screen and (min-width: 1024px) {

    body {
        font-size: 25px;
    }
    
    .button {
        height: 120px;
        width: 120px;
    }
    
    #buttons {
        height: 70%;
    }

    #level P {
        color: red;
        font-size:xx-large
    }

    #levelNumber {
        font-size: xx-large;
    }

    #tries i {
        font-size: 30px;
    }

    
}